/* TODO: Global */
body{
    font: 15px/ 1.5em FreeMono, monospace;
    padding: 0;
    margin: 0;
    background-color: white;
}

.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}


/* TODO: Header */

header{
    background-color: white;
    padding: 10px;
    min-height: 70px;
}
header ul{
    margin:0;
    padding:0;
}
header span:hover{
    color: rgb(116, 39, 39);
    cursor:pointer;
}

header a{
    color:rgb(31, 30, 30);
    text-decoration: none;
   
    font-size:16px;
}

header#main-header #branding{
    float: left;
}
header nav{
    margin-top: 30px;
    float:right;
}
header .current a{
    color: lightblue;
    font-weight: bold;
    text-transform: uppercase;
}

header li{
    padding: 0 20px 0 20px;
    list-style: none;
    float: right;
    display: inline;
    text-transform: uppercase;

}
header #branding img{
    height: auto;
    margin-top: 0px;
    padding-top: 20px;
    margin-left: 30px;
    height: 35px;
}


/* Showcase */
section#showcase {
    min-height: 800px;
    position: relative;
    overflow: hidden; 
}

section#showcase::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../static/images/sfmin.jpg');
    background-size: cover; 
    background-position: center center; 
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}

div.container.showcase {
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    padding: 20px; 
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 20px; 
}
section#showcase h1{
    text-align: center;
    font-family: FreeMono, monospace;
    font-weight: normal;
    font-size: 50px;
}
section#showcase p{
    text-align: center;
    font-family: FreeMono, monospace;
    font-weight: normal;
    font-size: 20px;
}

div.container.boxes {
  
   
    margin: 10px; /* Example margin */
    padding: 15px; /* Example padding */
    text-align: center; /* Example text alignment */
}


div.container.boxes .box{
    border: 1px solid #ccc; /* Example border */
    width: 390px;
    margin: 10px auto;
    padding-top: 20px;
}
section#showcase a{
    color:rgb(31, 30, 30);
    text-decoration: none;
    font-family: FreeMono, monospace;
   
   
}


/* footer */
footer{
    padding: 20px;
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
    font-size: 20px;
}






/* TODO: Model ve tum lum*/

section#drawReg canvas{
    border: 2px solid black;
    cursor: crosshair;

}
section#predict-chart{
    overflow: hidden;
}


section#predict-chart #content {
    float: left;
    width: 50%;
    text-align: center;
}

section#predict-chart #chart {
    float: right;
    width: 50%;
    text-align: center;
    padding-top: 60px;
    
}



canvas{
    max-width: 600px;
    margin: 20px;
}
button{
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: Freemono, monospace;
}




/* TODO: Style chart and predict content */


/* TODO: styling project 1*/

section#MDI::before {
    content: "";
    display: block;
    clear: both;
}
section#MDI #introduction{
    float: left;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 15px;
    padding-bottom: 32px;

}

section#MDI #introduction h1{
    text-align: center;
   
}
section#MDI #img-and-settings{
    float:right;
    width: 50%;
    box-sizing: border-box;
    margin: 20px 15px;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 15px;
}
section#MDI #img-and-settings h1 {
    text-align: center;
}


section#MDI #img-and-settings #model-img img{
    width: auto;
    max-width: 100%;
    display: inline-block;
    margin:auto;
    text-align: center;
}



@media  (max-width:780px){
    section#showcase h1{
        margin-top: 50px; 
        margin-right: 10px;
        padding-right: 12px;
      
     
        font-size: 40px;
        text-align: center; 
         

    }
    .container {
        width: 100%; /* Make container full width on smaller devices */
    }
    div.container.showcase {
        max-width: 80%; 
    }

    div.container.boxes {
        text-align: center;
        width: auto;
        margin: auto; 
    }
    
    div.container.boxes .box {
        border: 1px solid #ccc;
        width: 80%;
        margin: 10px auto; 
        padding: 15px;
        text-align: center;
    }
    
    div.container.boxes .box img {
        max-width: 100%; 
    }
    
    section#MDI #introduction,
    section#MDI #img-and-settings {
        float: none;
        width: 85%;
        margin-left:50px;
  
        margin-bottom: 20px;
    }

    section#MDI #img-and-settings #model-img img {
        max-width: 100%;
    }

    section#predict-chart #content,
    section#predict-chart #chart{
        float:none;
        width: 85%;
        margin-left:50px;
        margin-bottom: 20px;
    }

}