{% extends 'Project1.html' %}
{% load static %}
{% block content %}

    <h1>Prediction</h1>
    <h3>
        Please choose the correct number!
    </h3>

    <img src="{{img_url}}" class="column">
    <form action="" method="POST" name="confirm-form">
        <label>Choose a number: </label>
        <select name="correct_number">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
        <button type="submit" name="confirm-detect">Confirm</button>
        
    </form>

    <script>
        function clearCanvas() {
            context.clearRect(0, 0, canvas.width, canvas.height);
            context.fillStyle='black';
            context.fillRect(0,0,canvas.width,canvas.height);
        }
        clearCanvas();
    </script>

{% endblock content%}